{% extends 'base.html' %}
{% load humanize %}
{% block title %} |  User Profile {% endblock %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> My Profile</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>My Profile</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
  <!-- Alerts -->

<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		<!-- Widget -->
		<div class="col-md-4">
            {% include 'agents/sidebarleft.html' %}
		</div>

		<div class="col-md-8">
            <form  action="{% url 'edit_vprofile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
			<div class="row">


				<div class="col-md-8 my-profile">
					<div class="row">	
					<h4 class="margin-top-0 margin-bottom-30">My Account</h4>
					{% include 'includes/alerts.html' %}
					<div class="col-md-6">
					 <label>Your Name</label>
					  {{user_form.first_name}}
					</div>
					<div class="col-md-6">
						<label>Last Name</label>
						{{user_form.last_name}}
					</div>

					<div class="col-md-6">
						<label>Phone</label>
						{{user_form.phone_number}}
					</div>
					<div class="col-md-6">
						<label>Username</label>
						{{user_form.username}}
					</div>
					<div class="col-md-12">
						<label>Email</label>
						{{user_form.email}}
					</div>
					<div class="col-md-12">
					<h4 class="margin-top-50 margin-bottom-25">About Me</h4>
					{{profile_form.bio}}
				     </div>
					<div class="col-md-12">
						<label><i class="fa fa-map"></i> Address</label>
						{{profile_form.address}}
					</div>
                    </div>
					<button type="submit" class="button margin-top-20 margin-bottom-20">Save Changes</button>
				</div>

				<div class="col-md-4">
					<!-- Avatar -->
					<div class="edit-profile-photo">
                        {% if user.userprofile.profile_picture %}
						<img src="{{user.userprofile.profile_picture.url}}" alt="">
                        {% else %}
                        <img src="{% static 'images/agent-02.jpg' %}" alt="">
                        {% endif %}
						<div class="change-photo-btn">
							<div class="photoUpload">
							    <span><i class="fa fa-upload"></i> Upload Photo</span>
								{{profile_form.profile_picture}}
							    {% comment %} <input type="file" name="profile_picture"  class="upload" /> {% endcomment %}
							</div>
						</div>
					</div>

				</div>


			</div>
			{{ user_form.media}}
			{{ profile_form.media}}
        </form>
		</div>

	</div>
</div>
{% endblock %}  