{% extends 'base.html' %}
{% load humanize %}
{% block title %} |  User Dashboard {% endblock %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> User Dashboard</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Manage your Property Dekhoge Estate account</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
 
  <!-- Alerts -->
  {% include 'includes/alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.first_name }}</h2>
          {% if listingenquiry %}
            <p>Here are the property listings that you have inquired about</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone No.</th>
                  <th scope="col">City</th>
                  <th scope="col">Date, Time</th>
                  <th scope="col">Property</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for enq in listingenquiry %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ enq.full_name }}</td>
                    <td>{{ enq.phone_no }}</td>
                    <td>{{ enq.city}}</td>
                    <td>{{enq.created_on}}</td>
                    <td><a class="btn btn-light" href="{{ enq.listing.get_url }}" target="_blank">{{ enq.listing }}</a></td>
                    <td>
                      <a class="btn btn-light" href="{{ enq.listing.get_url }}" target="_blank">View Listing</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You have not made any inquiries</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}