{% extends 'base.html' %}
{% load humanize %}
{% block title %} |Forgot your password{% endblock %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> Forgot your password</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Forgot your password</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<!-- Container -->
<div class="container">

	<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<!--Tab -->
	<div class="my-account style-1 margin-top-5 margin-bottom-40">
    <div class="card">
      <div class="card-header text-white">
        <h2>Forgot your password</h2>
        {% include 'includes/alerts.html' %}
      </div>
       <div class="row">
		<p class="text-center">Please enter your email address and we will send you a link to reset your password.</p>
                    <hr>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
        <div class="col-md-12">
            <label class="info-title">Email Address <span>*</span></label>
            <input type="email" name="email" class="form-control" placeholder="Enter your email address">
        </div>
       
        <div class="col-md-12">
         <button type="submit" class="button margin-top-20 margin-bottom-20">Continue</button>
         <p>Already have an Account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
         </form>
        </div>
    
       </div>
    </div>
	</div>
	</div>
	</div>
</div>
{% endblock %}