{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Agents {% endblock %}
{% load static %}
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Agents</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>Agents</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<!-- Content
================================================== -->
<section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{page.heading}}</h2>
          <p class="mt-4">{{page.content|safe}}</p>
        </div>
      </div>
    </div>
</section>


<!-- Content
================================================== -->
<div class="container margin-bottom-50">
	<div class="row sticky-wrapper">
		<h2 class="text-left">Agents List</h2>
		<div class="col-lg-12 col-md-12">

			<div class="style-1 agency-tabs">
				<!-- Tabs Content -->
				<div class="tabs-container">
					<div class="tab-content">
						<!-- Agents Container -->
						<div class="row">
							{% if realtors %}
							{% for realtor in realtors %}
							<!-- Agent -->
							<div class="col-lg-4 col-md-4 col-xs-12">
								<div class="agent">

									<div class="agent-avatar">
										<a href="{{realtor.get_url}}">
											{% if realtor.photo %}
											<img src="{{ realtor.photo.url }}" alt="">
											{% else %}
											<img src="{% static 'images/agent-01.jpg' %}" alt="">
											{% endif %}
											<span class="view-profile-btn">View Details</span>
										</a>
									</div>

									<div class="agent-content">
										<div class="agent-name">
											<h4><a href="{{realtor.get_url}}">{{realtor.name}}</a></h4>
										</div>
										<div class="clearfix"></div>
									</div>

								</div>
							</div>
							<!-- Agent / End -->
							{% endfor %}
							{% endif %}
						</div>
						<!-- Agents Container / End -->

					</div>

				</div>

			</div>
			<hr>
			<a href="{% url 'listings' %}" class="button btn btn-secondary text-white btn-lg">View Our Listings</a>
		</div>
	</div>
</div>
{% endblock %}