{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Contact Us {% endblock %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Contact Us</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<!-- Container / Start -->
<div class="container">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-6">

			<h4 class="headline margin-bottom-30">{{contact.get_in_touch_title|safe}}</h4>

			<!-- Contact Details -->
			<div class="sidebar-textbox">
				<p>{{contact.description|safe}}</p>

				<ul class="contact-details">
					<li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span>{{contact.phone_no1|safe}}</span></li>
					<li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">{{contact.email1|safe}}</a></span></li>
                    {% comment %} <li><i class="im im-icon-Map"></i> <strong>Fax:</strong> <span>(123) 123-456 </span></li>
					<li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.example.com</a></span></li> {% endcomment %}
                </ul>
			</div>

		</div>

		<!-- Contact Form -->
		<div class="col-md-6">

			<section id="contact">
				<h4 class="headline margin-bottom-35">Contact Form</h4>
				{% include 'includes/alerts.html' %}
				<div id="contact-message"></div> 
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="form-grp">
                                    {{form.full_name}}
                            </div>
						</div>

						<div class="col-md-6">
							<div class="form-grp">
								{{form.phone}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-grp">
                                {{form.email}}
                            </div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-grp">
                                {{form.subject}}
                            </div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-grp">
                                {{form.message}}
                            </div>
						</div>
					</div>
					<button type="submit" class="submit button margin-bottom-20">Send Message</button>
					</form>
			</section>
		</div>
		<!-- Contact Form / End -->

	</div>

</div>
<!-- Container / End -->
{% endblock %}