{% load static %}
<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Topbar -->
	<div id="top-bar">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Top bar -->
				<ul class="top-bar-menu">
					<li><i class="fa fa-phone"></i>{{genlt.phone_no1}}</li>
					<li><i class="fa fa-envelope"></i> <a href="#">{{genlt.email1}}</a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->


			<!-- Left Side Content -->
			<div class="right-side">

				<!-- Social Icons -->
				<ul class="social-icons">
					<li><a class="facebook" href="{{genlt.facebook_link}}"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="{{genlt.twitter_link}}"><i class="icon-twitter"></i></a></li>
					<li><a class="linkedin" href="{{genlt.linkedin_link}}"><i class="icon-linkedin"></i></a></li>
					<li><a class="instagram" href="{{genlt.instagram_link}}"><i class="icon-instagram"></i></a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->

		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Topbar / End -->


	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					{% if genlt.logo %}
					<a href="{% url 'home' %}"><img src="{{genlt.logo.url}}" alt=""></a>
					{% else %}
					<a href="{% url 'home' %}"><img src="{% static 'logo/propertydekhoge.png' %}" alt=""></a>
					{% endif %}
				</div>


				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>


				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">
						

						{% if '/' == request.path %}
						<li> <a class="current" href="{% url 'home' %}">Home</a></li>
						{% else %}
						<li> <a href="{% url 'home' %}">Home</a></li>
						{% endif %}
	  
						{% if  '/about-us/' == request.path  %}  
						<li> <a class="current" href="{% url 'about' %}">About Us</a></li>
						{% else %}
						<li> <a href="{% url 'about' %}">About Us</a></li>
						{% endif %}

						<li><a href="#">City</a>
							<ul>
								{% for i in mycity %}
								{% if forloop.counter <= 6 %}
								<li><a  href="{{ i.get_url }}">{{ i.city_name }}</a></li>
								{% endif %}
								{% endfor %}
								<li><a href="{% url 'listings' %}">View More</a></li>
							</ul>
						</li>

						<li><a href="#">Locality</a>
							<ul>
								{% for i in local %}
								{% if forloop.counter <= 6 %}
								<li><a  href="{{ i.get_url }}">{{ i.local_name|truncatewords:3}}</a></li>
								{% endif %}
								{% endfor %}
								<li><a href="{% url 'listings' %}">View More</a></li>
							</ul>
							
						</li>
						{% if  '/listings/' == request.path  %}  
						<li> <a class="current" href="{% url 'listings' %}">Listings</a></li>
						{% else %}
						<li><a href="{% url 'listings' %}">Listings</a></li>
						{% endif %}

						{% comment %} {% if  '/contact-us/' == request.path  %}  
						<li> <a class="current" href="{% url 'contact' %}">Contact</a></li>
						{% else %}
						<li> <a href="{% url 'contact' %}">Contact</a></li>
						{% endif %} {% endcomment %}
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					{% comment %} <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user-plus"></i> Register</a> {% endcomment %}
                    {% if user.is_authenticated %}
					<a href="{% url 'myAccount' %}" class="button">Dashboard</a>
					<a href="{% url 'logout' %}" class="button border sign-in"><i class="fa fa-sign-in"></i> Logout</a>
					{% else %}
					<a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
					<a href="{% url 'register' %}" class="sign-in">Sign Up</a>
					<a href="{% url 'agent_signup' %}" class="button border">Agent Join</a>
					{% endif %}
				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->