{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Change Password{% endblock %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> Change Password</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Change Password</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
  <!-- Alerts -->
  {% include 'includes/alerts.html' %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		<!-- Widget -->
		<div class="col-md-4">
            {% include 'myadmin/sidebarleft.html' %}
		</div>

		<div class="col-md-8">
            <form  action="{% url 'change_adminpassword' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
			<div class="row">
                <div class="col-md-6  my-profile">
					<h4 class="margin-top-0 margin-bottom-30">Change Password</h4>

					<label>Current Password</label>
                    <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>

					<label>New Password</label>
					<input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>

					<label>Confirm New Password</label>
                    <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>

					<button type="submit" class="button margin-top-20 margin-bottom-20">Save Changes</button>
				</div>

				<div class="col-md-6">
					<div class="notification notice">
						<p>Your password should be at least 12 random characters long to be safe</p>
					</div>
				</div>



			</div>
        </form>
		</div>

	</div>
</div>
{% endblock %}  